In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [2]:
df = pd.read_csv('flight.csv')

In [3]:
df.drop(['Unnamed: 0', "flight", 'duration'], axis =1, inplace= True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  object
 1   source_city       300153 non-null  object
 2   departure_time    300153 non-null  object
 3   stops             300153 non-null  object
 4   arrival_time      300153 non-null  object
 5   destination_city  300153 non-null  object
 6   class             300153 non-null  object
 7   days_left         300153 non-null  int64
 8   price             300153 non-null  int64
dtypes: int64(2), object(7)
memory usage: 20.6+ MB

In [5]:
df.groupby('airline')['price'].mean().sort_values().plot(kind = 'bar')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  int64
 1   source_city       300153 non-null  int64
 2   departure_time    300153 non-null  object
 3   stops             300153 non-null  object
 4   arrival_time      300153 non-null  object
 5   destination_city  300153 non-null  int64
 6   class             300153 non-null  object
 7   days_left         300153 non-null  int64
 8   price             300153 non-null  int64
dtypes: int64(5), object(4)
memory usage: 20.6+ MB

In [7]:
df['airline'] = df['airline'].map({'AirAsia' : 0, 'Indigo': 1, 'GO_FIRST': 2, 'SpiceJet': 3, 'Air_India':4, 'Vistara': 5})

In [8]:
df['source_city'] = df['source_city'].map({'Delhi' : 0, 'Hyderabad': 1, 'Bangalore': 2, 'Mumbai': 3, 'Kolkata':4, 'Chennai': 5})

In [9]:
df['destination_city'] = df['destination_city'].map({'Delhi' : 0, 'Hyderabad': 1, 'Bangalore': 2, 'Mumbai': 3, 'Kolkata':4, 'Chennai': 5})

In [10]:
df['destination_city'].unique

<bound method Series.unique of 0         3
1         3
2         3
3         3
4         3
         ..
300148    1
300149    1
300150    1
300151    1
300152    1
Name: destination_city, Length: 300153, dtype: int64>